- const links = ["A SUBHEADING","ANOTHER SUBHEADING","AND ANOTHER","AND ANOTHER","AND ONE MORE"]
- const time = ["Yesterday","6 hours ago","9 hours ago","3 days ago","8 days ago"];
- const numbers = ["34","27","184","2.003","8.484"];