$green: #b1ddab;
$light_green: #b9d2ce;
$light2_green: #bce0b7;
$brown: #8c7780;
$light_gray: #c1cac5;
$light2_gray: #cdd6d1;
$dark_gray: #6b7770;
$alpha-white: rgba(255, 255, 255, 0.5);
$border_radius: 10px;
$padding_menu: 15px;
$padding_v: 10px;
$background-footer: #f2f5f3;